[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.13"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
beautifulsoup4 = "*"
google-auth = "*"
google-api-python-client = "*"
black = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
flake8 = "*"
isort = "*"
